body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f5f7fa; /* Background color */
}

.watermark-container {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the container */
  width: 750px;
  height: 750px;
  background-image: url('/assets/avatar.png'); /* Use the correct asset path */
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.50; /* Adjust opacity as needed */
  z-index: -1; /* Place the watermark behind other content */
  transition: all 0.3s;
}

.centered-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  opacity: 1;
}

.search-container {
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.neomorphic-input,
.date-input,
.search-input,
.search-button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #f2f4f8; /* Light grayish */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1),
              -3px -3px 6px rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.neomorphic-input:hover,
.date-input:hover,
.search-input:hover,
.search-button:hover {
  background-color: #e6ebee; /* Light blueish grey on hover */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
              -5px -5px 10px rgba(255, 255, 255, 0.9);
}

.neomorphic-input:focus,
.date-input:focus,
.search-input:focus,
.search-button:focus {
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2),
              inset -4px -4px 8px rgba(255, 255, 255, 0.6);
}

.neomorphic-button {
  background-color: #2c3e50; /* Grayish color */
  color: grey;
}

.neomorphic-button:hover,
.neomorphic-button:focus {
  background-color: #34495e; /* Darker gray on hover */
  box-shadow: inset 7px 7px 12px rgba(0, 0, 0, 0.3),
              inset -7px -7px 12px rgba(255, 255, 255, 0.9);
}

.search-button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #f2f4f8; /* Light grayish */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1),
              -3px -3px 6px rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.search-button:hover {
  background-color: #d6e1e8; /* Light blueish grey background on hover */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
              -5px -5px 10px rgba(255, 255, 255, 0.9);
}

.flat-grid-section {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.flat-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.flat-card {
  padding: 20px;
  height: 500px;
  border-radius: 15px;
  background-color: #f5f7fa; /* Background color */
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
              -6px -6px 10px rgba(255, 255, 255, 0.8);
  text-align: center;
  transition: box-shadow 0.3s;
}

.flat-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.flat-card h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #444;
  transition: color 0.3s;
}

.flat-card p {
  margin: 0;
}

.flat-card span {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.flat-card:hover,
.flat-card:focus {
  background-color: #e6ebee; /* Light blueish grey background on hover */
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.3),
              -7px -7px 12px rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  .search-container {
      max-width: 90%;
  }
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-destination: 0% 10%;
  scroll-snap-points-y: repeat(10%);
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
}

.centered-search-form,
.flat-grid-section {
  scroll-snap-align: start;
}

body {
  scroll-snap-align: none;
}

a {
  text-decoration: none; /* Remove underlines */
  color: #296467; /* Set the desired text color */
}

/* Style for the links on hover */
a:hover {
  color: #34495e; /* Change color on hover */
}

/* Style for the neomorphic checkbox */
.neomorphic-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.neomorphic-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #f2f4f8;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1),
              -2px -2px 4px rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.neomorphic-checkbox input[type="checkbox"]:checked {
  background-color: #7dc87d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset,
              -2px -2px 4px rgba(255, 255, 255, 0.8) inset;
}

.neomorphic-checkbox label {
  font-weight: bold;
  color: #7dc87d;
  text-transform: lowercase;
}

/* Center the checkbox */
.center-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.neomorphic-input-label {
  font-weight: bold;
  color: #444; /* Apply your desired text color */
  text-transform: lowercase; /* Convert text to lowercase */
}


.center-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100%; /* Ensure it takes the full height of the parent (.flat-card) */
}
