<section class="search-section centered-search-form">
  <div class="search-container">
    <header id="centered-header">

      <h1>experience the world, one stay at a time</h1>
    </header>
    <form action="<%= search_flats_path %>" method="get" id="search-form">
      <div class="input-container">
        <input class="neomorphic-input date-input datepicker" type="text" name="check_in" id="check-in-input" placeholder="Check-in">
        <input class="neomorphic-input date-input datepicker" type="text" name="check_out" id="check-out-input" placeholder="Check-out">
        <input class="neomorphic-input" type="text" name="location" id="location-input" placeholder="location">
        <button class="neomorphic-button search-button" type="submit" id="search-button">search</button>
      </div>
    </form>
  </div>
</section>

<section class="flat-grid-section">
  <div class="flat-grid-container">
    <div class="flat-card">
      <img src="placeholder-image.jpg" alt="Flat 1">
      <h3>cozy apartment</h3>
      <p>studio in the heart of the city.</p>
      <span>$120 | night</span>
    </div>

    <div class="flat-card">
      <img src="placeholder-image.jpg" alt="Flat 2">
      <h3>apartment</h3>
      <p>holiday home for you and your family</p>
      <span>$90 | night</span>
    </div>

    <div class="flat-card">
      <img src="placeholder-image.jpg" alt="Flat 3">
      <h3>studio</h3>
      <p>studio at the outskirts of town.</p>
      <span>$85 | night</span>
    </div>

    <div class="flat-card">
      <img src="placeholder-image.jpg" alt="Flat 4">
      <h3>two story flat</h3>
      <p>luxurious apartment with a view</p>
      <span>$165 | night</span>
    </div>

  </div>
</section>
